<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />

        <key>NSContactsUsageDescription</key>
        <string>This app needs access to your contacts</string>

        <key>NSCameraUsageDescription</key>
        <string>Camera access is required to capture photos.</string>

        <key>NSPhotoLibraryUsageDescription</key>
        <string>Photo access is required to select images.</string>

        <key>MBK_CLIENT_ID</key>
        <string>$(MBK_CLIENT_ID)</string>
        <key>MBK_CLIENT_SECRET</key>
        <string>$(MBK_CLIENT_SECRET)</string>
        <key>MBK_APP_DISPLAY_NAME</key>
        <string>$(MBK_APP_DISPLAY_NAME)</string>
        <key>MBK_BRAND_PRIMARY</key>
        <string>$(MBK_BRAND_PRIMARY)</string>
        <key>MBK_BRAND_SECONDARY</key>
        <string>$(MBK_BRAND_SECONDARY)</string>
        <key>MBK_BRAND_ACCENT</key>
        <string>$(MBK_BRAND_ACCENT)</string>
        <key>MBK_BANK_BANNER_URI</key>
        <string>$(MBK_BANK_BANNER_URI)</string>
        <key>MBK_USE_CUSTOM_THEME</key>
        <string>$(MBK_USE_CUSTOM_THEME)</string>

    </dict>
</plist>
